/* body {
  font-family: "Bangers", cursive !important;
} */

.main-content {
  display: flex;

  min-height: 100vh;

  justify-content: center;
  align-items: center;
}

.min-heigth-main {
  min-height: 100vh;
}

.pre-main-min-height {
  min-height: calc(60vh - 100px);
  padding-top: 100px;
}

.animate.fadeIn {
  transition: all 2s ease-in-out;
}

.animate.fadeOut {
  transition: all 2s ease-in-out;
}

.position-instrument-symbol:hover {
  padding-bottom: 2px;
  border-bottom: 1px solid dashed;
  cursor: pointer;
}
